body {

background-color:rgba(128, 84, 255, 0.28);
font-size: 1em;
position: absolute;
font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 24px;
text-align: center;
color: rgba(0, 0, 0, 0.7);
}

header {
    
    background: rgba(255, 255, 255, 0.55);
    border-radius: 50px;
    width: 500px;
    position: relative;
}

img {

    width: 105px;
    height: 110px;

}

#tarjeta {
    width: 390px;
    height: 204px;
    border-radius: 10px;
}

#botonValidar {

    background: rgba(128, 84, 255, 0.91);
    border-radius: 8px;
    width: 141px;
    height: 55px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height */
    color: #FFFCFC;
}

