body {

background-color:rgba(128, 84, 255, 0.28);
font-size: 1em;
position: absolute;
font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 24px;
text-align: center;
color: rgba(0, 0, 0, 0.7);
}

header {
    
    background: rgba(255, 255, 255, 0.55);
    border-radius: 50px;
    width: 500px;
    position: absolute;
    width: 533px;
    height: 163px;
    left: 133px;
    top: 16px;

}

img {
position: absolute;
    width: 105px;
    height: 110px;

    
}

/* .flex-container {
    display: flex;
    
  }

  .flex-item {
    flex-direction: row;
    width: 105px;
    height: 110px;


  } */
  
/* main {
    background: #FFFCFC;
    opacity: 50%; */



}

#imgTarjeta {
    width: 390px;
    height: 204px;
    border-radius: 10px;
}

#numeroTarjeta {
    background-color: #B65DE0;
   
    border-radius: 20px;
    width: 307px;
    height: 45px;
    color: rgba(0, 0, 0, 0.7);



}

main {

    padding-top: 200px;
}


#botonValidar {

    background: rgba(128, 84, 255, 0.91);
    border-radius: 8px;
    width: 141px;
    height: 55px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height */
    color: #FFFCFC;
}

