body {
    background-color:rgba(128, 84, 255, 0.28);
    font-size: 1em;
    font-family: Roboto Slab;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

main {
    display:flex;
    flex-direction:column;
    width: 753px;
    height: 720px;
    left: 23px;
    top: 9px;
    align-items: center;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 50px;
    margin: auto;

}
header {
    
    background: rgba(255, 255, 255, 0.55);
    border-radius: 50px;
    display: flex;
    justify-content:space-around;
    width: 550px;
    height: 163px;
    margin: 10px 0 0 0;
    font-size: 20px;

}

header > div> {
    display: flex;
    flex-direction: column;
    justify-content:space-between;

}

header > div> img {
    width: 105px;
    height: 100px;

}

header > div > p {
    width: 105px;
    margin: auto;
    
}
section{
    width: 445px;
    font-size: 22px;
    text-align: center;
}

#resultados {
    width: 445px;
    font-size: 22px;
    text-align: center;
}
section > img {
    border-radius: 10px;
    width: 396px;
    height: 203px;
    left: 180px;
    top: 3188px;
    margin:  0 0 10px 0 ;
}

input {
    background: rgba(182, 93, 224, 0.1);
    border-width:0px;
    border-radius: 20px;
    width: 250px;
    height: 45px;
    font-family: inherit;
    font-size: 18px;
    color: inherit;

}
::-webkit-input-placeholder {
   color: rgba(0, 0, 0, 0.7);
}

#botonBorrar {
    width: 150px;
    height: 45px;
    left: 494px;
    top: 570px;
    border-width:0px;
    background: rgba(128, 84, 255, 0.4);
    border-radius: 20px;
    font-size: 18px;
    line-height: 24px;
    font-family: inherit;
    color: #FFFBFB;
}

#botonValidar {
    width: 190px;
    height: 53px;
    left: 324px;
    top: 658px;
    font-family: inherit;
    font-size: 30px;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.7);
    background: #EDB936;
    border-radius: 8px;
    border-width:0px;
}